body {
  background-color: rgb(243, 174, 231);
  background-image: url(/public/img/ts2.jpeg);
}


.App {
  text-align: center;
 
  
}


.text{
  font-size: 50px;
  font-weight: bold;
}

.soru{

  justify-content: center;
  text-align: center;
}
.resim{
  display: flex;
  justify-content: center;
}



div img{
  border-radius: 15px;
}
.btnn{

 
  justify-content: center;
  
}
.btnn button{
  border-style: solid;
    border: 1;
    border-color: blueviolet;
    width: 40px;
    border-radius: 49%;
}
.img-fluid{
  max-height: 150px
}
.next{
  border-style: solid;
  border: rgb(243, 174, 231);
  border-radius: 15%;
  
}