body {
  background-color: rgb(243, 174, 231);
  background-image: url(/public/img/bg.jpg);
}


.App {
  text-align: center;

 
  
}


.text{
  font-size: 25px;
  font-weight: bold;
  text-align: center;

}

.soru{

  justify-content: center;
  text-align: center;
}
.resim{
  display: flex;
  justify-content: center;
}



div img{
  border-radius: 15px;
}
.btnn{

 
  justify-content: center;
  
}
.btnn button{
  border-style: solid;
    border: 1;
    border-color: blueviolet;
    width: 40px;
    border-radius: 49%;
}
.img-fluid{
  max-height: 150px
}
.next{
  border-style: solid;
  border: rgb(243, 174, 231);
  border-radius: 15%;
 
  
}

.user-div{
  text-align: center;
  justify-content: center;
  margin-top: 25px;

}
.user-btn{
 
  border: rgb(243, 174, 231);
  border-radius: 15px;
  
}

input{
  border: rgb(243, 174, 231);
  border-radius: 15px;
  

  
}
input[type="text"]:focus{
outline: none !important;
  background-color:rgb(207, 207, 241)
  

}

form{
  display: block
}
.admin{
  text-align: right;
}
.login{
  text-align: center;
  justify-content: center;
  display: flex;
}
.user{
  text-align: center;
}
label{
 
  text-align: center;
  justify-content: center;
  }
.ts{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.bord{
  border-bottom: 5px solid rgb(105, 163, 216);
}
.sty{
  border-radius: 15px;
}
.test-page{
  text-align: center;
}

.marg{
     position: relative;
    left: 50%;
    transform: translateX(-49%);

}